body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.content {
  height: 100vh;
  width: 100%;
}

#one,
#two,
#three,
#fifth,
#sixth {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#fourth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seventh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 15px;
  color: #4c4d4f;
}

#dot {
  color: #a0ca68;
}

.data {
  font-size: 14px;
  color: #4c4d4f;
  line-height: 25px;
}

.description {
  width: 380px;
  height: 222px;
}

.download,
.last_download {
  margin-top: 40px;
}
.download a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  background-image: linear-gradient(to right, #a0ca68, #6a9951);
  border-radius: 21px;
  padding: 13px 40px;
}

.topic {
  font-size: 30px;
  font-weight: bold;
  color: #4c4d4f;
  padding-bottom: 20px;
}

.last_download {
  font-size: 20px;
  font-weight: bold;
  color: #4c4d4f;
}

#seventh div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.navbar-logo {
  font-size: 14px;
  font-weight: bold;
  color: #a0ca68;
  letter-spacing: 5px;
  margin-left: 70px;
}

.navbar-item {
  margin-right: 70px;
}
.navbar-item a {
  text-decoration: none;
  color: #4c4d4f;
  font-size: 14px;
  padding-left: 20px;
}

.vector-container {
  position: relative;
}

.ellips,
.ellips3,
.ellips4,
.vector,
.vector2,
.vector3,
.vector4,
.vector5 {
  position: absolute;
  opacity: 0.92;
}

.ellips {
  top: 50px;
  left: -50px;
}
.ellips3 {
  top: -200px;
  left: 400px;
}
.ellips4 {
  top: -216px;
  left: -305px;
}

.vector {
  top: -150px;
}

.vector2 {
  top: -228px;
  left: -100px;
}

.vector3 {
  left: -400px;
  top: -200px;
}

.vector4 {
  top: -20px;
  left: -400px;
}

.vector5 {
  top: -100px;
  left: -236px;
}

.vector3 img {
  position: absolute;
}

.vector3 div {
  position: absolute;
  top: 40px;
  left: 18px;
  width: 171px;
}

.vector-topic {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.vector-desc {
  font-size: 12px;
  color: #ffffff;
  margin-top: 30px;
}

.vector4 img {
  position: absolute;
}

.vector4 div {
  position: absolute;
  top: 50px;
  left: 12px;
  width: 170px;
}

.vector5 img {
  position: absolute;
}

.vector5 div {
  position: absolute;
  top: 40px;
  left: 12px;
  width: 170px;
}

.vector2 img {
  position: absolute;
}

.vector2 div {
  position: absolute;
  top: 55px;
  left: 17px;
  width: 170px;
}

.vector img {
  position: absolute;
}

.vector div {
  position: absolute;
  top: 90px;
  left: 65px;
  width: 250px;
}
