body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.content {
  height: 100vh;
  width: 100%;
}

.scroll {
  position: absolute;
  left: 48%;
  bottom: 40px;
  color: #a0ca68;
  animation: action 1s infinite alternate;
}

i {
  border: solid #a0ca68;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  left: 37px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

#one,
#two,
#three,
#fifth,
#sixth {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#fourth {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#seventh {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 15px;
  color: #4c4d4f;
}

#dot {
  color: #a0ca68;
}

.data {
  font-size: 14px;
  color: #4c4d4f;
  line-height: 25px;
}

.description {
  width: 380px;
  height: 222px;
}

.download,
.last_download {
  margin-top: 40px;
}
.download a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  background-image: linear-gradient(to right, #a0ca68, #6a9951);
  border-radius: 21px;
  padding: 13px 40px;
}

.topic {
  font-size: 30px;
  font-weight: bold;
  color: #4c4d4f;
  padding-bottom: 20px;
}

.last_download {
  font-size: 20px;
  font-weight: bold;
  color: #4c4d4f;
}

#seventh div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.navbar-logo {
  font-size: 14px;
  font-weight: bold;
  color: #a0ca68;
  letter-spacing: 5px;
  margin-left: 70px;
}

.navbar-item {
  margin-right: 70px;
}
.navbar-item a {
  text-decoration: none;
  color: #4c4d4f;
  font-size: 14px;
  padding-left: 20px;
}

.vector-container {
  position: relative;
}

.ellips,
.ellips3,
.ellips4,
.vector,
.vector2,
.vector3,
.vector4,
.vector5 {
  position: absolute;
  opacity: 0.9;
}

.ellips {
  top: 108px;
  left: -50px;
}
.ellips3 {
  top: -250px;
  left: 350px;
}
.ellips4 {
  top: -300px;
  left: -370px;
}

.vector {
  top: -150px;
}

.vector2 {
  top: -350px;
  left: -30px;
}

.vector3 {
  left: -525px;
  top: -250px;
}

.vector4 {
  top: -40px;
  left: -485px;
}

.vector5 {
  top: -190px;
  left: -252px;
}

.vector3 img {
  width: 320px;
  position: absolute;
}

.vector3 div {
  position: absolute;
  top: 60px;
  left: 35px;
  width: 200px;
}

.vector-topic {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.vector-desc {
  font-size: 12px;
  color: #ffffff;
  margin-top: 30px;
}

.vector4 img {
  width: 320px;
  position: absolute;
}

.vector4 div {
  position: absolute;
  top: 65px;
  left: 33px;
  width: 170px;
}

.vector5 img {
  width: 320px;
  position: absolute;
}

.vector5 div {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 170px;
}

.vector2 img {
  width: 320px;
  position: absolute;
}

.vector2 div {
  position: absolute;
  top: 75px;
  left: 47px;
  width: 170px;
}

.vector img {
  width: 500px;
  position: absolute;
}

.vector div {
  position: absolute;
  top: 90px;
  left: 65px;
  width: 250px;
}

@media only screen and (max-width: 600px) {
  #one,
  #two,
  #fifth {
    flex-direction: column;
  }
  #three,
  #sixth {
    flex-direction: column-reverse;
  }

  #one div img,
  #two div img,
  #three div img,
  #fifth div img,
  #sixth div img,
  #seventh div img {
    width: 300px;
  }
  .logo {
    font-size: 35px;
  }
  .scroll {
    left: 40%;
  }

  .description {
    width: 300px;
  }
  .last_download {
    width: 300px;
  }

  #navbar {
    justify-content: unset;
  }
  .navbar-logo {
    margin-left: 35px;
  }
  .navbar-item {
    margin-right: 0;
  }
  .navbar-item a {
    font-size: 12px;
  }

  #fourth,
  .vector-container {
    display: none;
  }
}
