body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.content {
  height: 100vh;
  width: 100%;
}

#one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#two {
  background: url(http://cloud.niklausgerber.com/1a2n2I3J1h0M/red.png) center
    center no-repeat scroll #8f2041;
}

.logo {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 15px;
  color: #4c4d4f;
}

#dot {
  color: #a0ca68;
}

.data {
  font-size: 14px;
  color: #4c4d4f;
}

.download {
  margin-top: 40px;
}
.download a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  background-image: linear-gradient(to right, #a0ca68, #6a9951);
  border-radius: 21px;
  padding: 13px 40px;
}
